server {
    listen 80;
    listen [::]:80;
    server_name mont3.ch www.mont3.ch;
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name mont3.ch www.mont3.ch;
    
    ssl_certificate /etc/letsencrypt/live/mont3.ch/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/mont3.ch/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    root /var/www/mont3.ch;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}
